<img width="300" align='left' src="../docs/_static/tortus_logo.svg" alt="tortus logo">

In [1]:
import pandas as pd
from tortus import Tortus

A sample dataset was created from movie reviews for the Disney remake of Mulan. The reviews were found on the Rotten Tomatoes website.

In [2]:
movie_reviews = pd.read_csv('movie_reviews.csv')

In [3]:
movie_reviews.head()

   review_id        date                                            reviews
0        100  09-12-2020  "Mulan" raises the bar in Disney sequels. This...
1        101  09-11-2020  A movie of impressive scale and clear visual c...
2        102  09-10-2020  While glorious to look at, the movie still fee...
3        103  09-10-2020  The movie itself feels like an anticlimax: Mul...
4        104  09-10-2020  A homage to family, feminism, honor, leadershi...

## Create an instance of tortus

Tortus(df, text, num_records=10, id_column=None, annotations=None, random=True)

* make annotations from ``movie_reviews`` dataframe
* using the text in ``reviews`` column
* 3 annotations will be done (``num_records``)
* we have an ``id_column``, review_id
    - In the event we have no ``id_column``, the index of the original
    dataframe is used for easy reference
* no ``annotations`` were previously done using the tool
* records were randomly selected (``random``)

In [4]:
tortus = Tortus(
    movie_reviews,
    'reviews',
    num_records=3,
    id_column='review_id'
)

## Begin annotations

In [5]:
tortus.annotate()

HTML(value='<h3>Annotations are complete.</h3>')

IntProgress(value=3, description='3/3', max=3)

## View your annotations

Annotations can be viewed at anytime by calling 
```python
tortus.annotations
```

In [6]:
tortus.annotations

,review_id,reviews,label,annotated_at
0,109,"That magic isn't present here, and the action ...",negative,2020-09-15 17:12:13
1,105,"While it's not a bad film, Disney should've st...",neutral,2020-09-15 17:12:21
2,107,The Disney remakes have been far more miss tha...,negative,2020-09-15 17:12:27

## Store your annotations

Store your annotations in an object to save or use later in future annotations.
```python
annotations = tortus.annotations
```

In [7]:
annotations = tortus.annotations

## Continue annotations

If you want to continue annotations, you can create another instance of Tortus. Pass annotations as an argument so they will be excluded from the annotation tool, preventing duplicates.

In [8]:
tortus = Tortus(
    movie_reviews,
    'reviews',
    num_records=3,
    id_column='review_id',
    annotations=annotations
)

In [9]:
tortus.annotate()

HTML(value='<h3>Annotations are complete.</h3>')

IntProgress(value=3, description='3/3', max=3)

The newest annotations are appended to the end of the ``annotations`` dataframe.

In [10]:
tortus.annotations

,review_id,reviews,label,annotated_at
0,109,"That magic isn't present here, and the action ...",negative,2020-09-15 17:12:13
1,105,"While it's not a bad film, Disney should've st...",neutral,2020-09-15 17:12:21
2,107,The Disney remakes have been far more miss tha...,negative,2020-09-15 17:12:27
3,110,Mulan is the first Disney live action remake t...,positive,2020-09-15 17:12:45
4,101,A movie of impressive scale and clear visual c...,positive,2020-09-15 17:12:53
5,113,"Mulan lacks the warmth, true inspiration, emot...",negative,2020-09-15 17:12:59